<!---<script src="/js/jquery.min.js"></script>--->
<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>
    function updateDropdownText(selectedItem) {
        document.getElementById('dropdownMenuLink').innerHTML = selectedItem;
        document.getElementById("categoryInput").value = selectedItem.toLowerCase();
    }
    function capatislizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
    const urlParams = new URLSearchParams(window.location.search);
    const categoryParam = urlParams.get('category');
    if (categoryParam) {
        updateDropdownText(capatislizeFirstLetter(categoryParam));
    }
    function validateForm() {
        const category = document.getElementById("categoryInput").value;
        if (category === "") {
            return false;
        }
        if (category === "all") {
            window.location.href = "/";
            return false;
        }
        return true;
    }
</script>
    
</body>

</html>